@model ShopWebsite.ViewModels.PagingViewModel

@{
    ViewData["Title"] = "Index";
}

@if (Model != null)
{
    <h2>Type: @Model.Cars.First().CarType.Name</h2>
}

<div class="row text-center">
    @foreach (var item in Model.Cars)
    {
        <div class="col-4">
            <div class="ajaxbg d-none">
                <img src="~/static/loading/ajax-loader.gif" />
                <p class="lead alert alert-success text-center d-none">
                    The product has been added.
                </p>
            </div>
            <img src="~/static/cars/@item.Image" class="img-fluid img-thumbnail" alt="" />
            <div>
                @Html.Raw(item.Description)
            </div>
            <p>
                @item.Price.ToString("C2")
            </p>
            <p>
                <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-primary addToCart">Add to cart</a>
            </p>
        </div>
    }
</div>
<ul class="nav text-center">
    <li class="nav-item">
        <a type="button" class="btn-sm btn-light
                       @(Model.PagingHelper.CurrentPage > 1 ? "" : "disabled") nav-link"
           asp-controller="Cars" asp-action="CarsByType" asp-route-page="1">First</a>
    </li>
    @for (int i = 1; i <= Model.PagingHelper.TotalPages; i++)
    {
        <li class="nav-item">
            <a type="button"
               class="btn-sm btn-light nav-link @(i == Model.PagingHelper.CurrentPage ?
                        "active" : "")"
               asp-controller="Cars" asp-action="CarsByType" asp-route-page="@i">
                @i
            </a>
        </li>
    }
    <li class="nav-item">
        <a type="button"
           class="btn-sm btn-light nav-link
                       @(Model.PagingHelper.CurrentPage != Model.PagingHelper.TotalPages ?
                        "" : "disabled")"
           asp-controller="Cars" asp-action="CarsByType" asp-route-page="@Model.PagingHelper.TotalPages">
            Last
        </a>
    </li>
</ul>

@section Scripts{
    <script>
        $(function () {

            $("a.addToCart").click(function (e) {
                e.preventDefault();

                let ajaxDiv = $(this).parent().parent().find("div.ajaxbg");
                ajaxDiv.removeClass("d-none");

                let id = $(this).data("id");

                $.get('/cart/add/' + id, {}, function (data) {

                    $("div.smallcart").html(data);
                    ajaxDiv.find("img").addClass("d-none");
                    ajaxDiv.find("p").removeClass("d-none");
                });
                setTimeout(() => {
                    ajaxDiv.animate({ opacity: 0 }, function () {
                        $(this).addClass("d-none").fadeTo(.1, 1);
                        $(this).find("img").removeClass("d-none");
                        $(this).find("p").addClass("d-none");
                    });
                });
            });
        });</script>
}