@model ShopWebsite.ViewModels.PagingViewModel


@{
    ViewData["Title"] = "Cars";
}

<h1 class="text-center">Cars</h1>

@{
    ViewBag.Title = "Cars";
}
<div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
            <ul class="nav mb-3">
                <li class="nav-item">
                    <a type="button" class="btn-sm btn-light
                       @(Model.PagingHelper.CurrentPage > 1 ? "" : "disabled") nav-link"
                       asp-controller="Cars" asp-action="Index" asp-route-page="1">First</a>
                </li>
                @for (int i = 1; i <= Model.PagingHelper.TotalPages; i++)
                {
                    <li class="nav-item">
                        <a type="button"
                           class="btn-sm btn-light nav-link @(i == Model.PagingHelper.CurrentPage ?
                        "active" : "")"
                           asp-controller="Cars" asp-action="Index" asp-route-page="@i">
                            @i
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a type="button"
                       class="btn-sm btn-light nav-link
                       @(Model.PagingHelper.CurrentPage != Model.PagingHelper.TotalPages ?
                        "" : "disabled")"
                       asp-controller="Cars" asp-action="Index" asp-route-page="@Model.PagingHelper.TotalPages">
                        Last
                    </a>
                </li>
            </ul>
        </div>
        <p class="col-2">
            <a asp-action="Create" class="btn btn-primary text-center" type="button">Create New</a>
        </p>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Model
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model._contextPaging)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Price.ToString("C0")
                </td>
                <td>
                    <img src="~/static/cars/@item.Image" width="100" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
